<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.workstation.pdm_se01">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".AWApplication"
        android:allowBackup="true"
        android:icon="@mipmap/weathericon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".components.broadcast.AWAReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDbdd5oaALYMg7zWR86YWM75IJVA0pLQB4"/>

        <service
            android:name=".components.broadcast.UpdateService"
            android:label="My Service"></service>

        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.WeatherActivity"
            android:label="@string/title_activity_weather"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.workstation.pdm_se01.activities.MainActivity" />
        </activity>
        <activity android:name=".activities.ConnectivityActivity" />
        <activity android:name=".components.notification.NotificationReceiver" />
        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.workstation.pdm_se01.activities.MainActivity" />

        <provider
            android:name=".provider.AWAProvider"
            android:authorities="com.example.workstation.pdm_se01"
            android:exported="false" />

        <activity android:name=".activities.HomeActivity" />
        <activity
            android:name=".activities.PreferencesActivity"
            android:label="@string/title_activity_preferences"
            android:parentActivityName=".activities.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activities.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--<activity-->
            <!--android:name=".activities.WeatherListActivity"-->
            <!--android:label="@string/title_activity_weather_list"-->
            <!--android:parentActivityName=".activities.HomeActivity"-->
            <!--android:theme="@style/AppTheme.NoActionBar" />-->
        <activity
            android:name=".activities.WeatherByLocation"
            android:label="@string/title_activity_weather_by_location"
            android:parentActivityName=".activities.PreferencesActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>